{% extends "_layout.html" %}

{% block content %}
<section class="info-card">
  <h2>Index</h2>
  <p>Templates live in <code>web_pages_oomp/</code>.</p>
  <!-- List of links to various pages -->
   <!-- 192.168.1.230:5300 add item to oomp-->
  <p>Link to add item to OOMP: <a href="http://192.168.1.230:5300">(main)</a></p>
  <p>Link to sticker: <a href="http://192.168.1.233:5005">(main)</a><a href="http://192.168.1.233:5015">(oomp)</a></p>
  <p>Link to stat clash: <a href="http://192.168.1.233:5006">(main)</a><a href="http://192.168.1.233:5016">(oomp)</a></p>
  <p>Link to gift wrap: <a href="http://192.168.1.233:5007">(main)</a><a href="http://192.168.1.233:5017">(oomp)</a></p>
  <p>Link to spelling: <a href="http://192.168.1.233:5008">(main)</a><a href="http://192.168.1.233:5018">(oomp)</a></p>
  <p>Link to editing page: <a href="http://192.168.1.233:5009">(main)</a><a href="http://192.168.1.233:5019">(oomp)</a></p>
  <p>Link to story book: <a href="http://192.168.1.231:5020">(main)</a><a href="http://192.168.1.231:5020">(oomp)</a></p>
  <p>Link to generation from yaml: <a href="http://192.168.1.233:5200">(main)</a><a href="http://192.168.1.233:5100">(oomp)</a></p>
  <p>Link to food recipe automation: <a href="http://192.168.1.233:5205">(main)</a><a href="http://192.168.1.233:5305">(oomp)</a></p>
  
  <br><br><br>
  <!-- 192.168.1.107:1112 label print 3 x 2-->
   <p>Link to label print 3 x 2 <a href="http://192.168.1.107:1112">(main)</a></p>
    <p>Link to label print 2 x 1 <a href="http://192.168.1.242:1112">(main)</a></p>
    <p>Link to label print 6 x 4 <a href="http://192.168.1.55:1112">(main)</a></p>
  
  


</section>
{% endblock %}
